
<h1>Books</h1>

  <% if @list.errors.any? %>
  <%= @list.errors.count %> error prohibited this book from being saved:
  <% @list.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <% end %>
<table>

  <tr>
    <td>Title</td>
    <td>Body</td>
  </tr>

  <% @lists.each do |list| %>
    <tr>
      <td><%= list.title %></td>
      <td><%= list.body %></td>
      <td><%= link_to 'Show', "/todolists/#{list.id}" %></td>
      <td><%= link_to 'Edit', "/todolists/#{list.id}/edit" %></td>
      <td><%= link_to 'delete', "/todolists/#{list.id}", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
    </tr>
  <% end %>
</table>

<h3>New book</h3>
<%= form_with model: @list, url:'/todolists', local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>